/*general*/

body {
  background-color: rgb(102, 66, 20);
  margin: 0%;
  padding: 0%;
  color: white;
}

/*home*/
header {
  height: 100vh;
  width: 100vw;
  background-image: url(bg2.1.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: flex-end;
  display: flex;
}

h1 {
  font-size: 4vw;
  font-family: Georgia, serif;
  margin: 0;
}

.aksara {
  width: 50%;
  margin-bottom: 40px;
}

.title {
  text-align: center;
}

@media screen and (max-width: 600px){
    .aksara{
       width: 75%;
    }
    h1{
      font-size: 5.5vw;
    }
}

/*navbar*/
.nav {
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  height: 50px;
  justify-content: center;
  top: 0;
}

.subnav {
  position: sticky;
  bottom: 0;
  top: 60px;
}

.nav {
background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}

.nav__title {
  margin-left: 20px;
  margin-right: 30px;
  width: 65px;
  position: fixed;
  z-index: 1;
  margin-top: 9px;
}

.nav__item {
  display: inline-block;
  margin: 0px 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav__item1 {
  display: inline-block;
  margin-right: 100px;
  margin-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

li:hover{
  color: rgb(255, 218, 96);
}

@media screen and (max-width: 700px ){
  .nav__list{
    display: none;
  }
}

/*hamburger*/
.wrapper{
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  background: #000;
  transition: all 0.6s ease-in-out;
}

#active:checked ~ .wrapper{
  right:0;
}

.menu-btn{
  position: absolute;
  z-index: 2;
  right: 2px;
  top: 19px;
  margin-top: 5px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.menu-btn span,
.menu-btn:before,
.menu-btn:after{
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 30%;
	width: 40%;
	border-bottom: 2px solid rgb(255, 255, 255);
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn:before{
  transform: translateY(-8px);
}
.menu-btn:after{
  transform: translateY(8px);
}

.close {
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: background .6s;
}

/* closing animation */
#active:checked + .menu-btn span {
	transform: scaleX(0);
}
#active:checked + .menu-btn:before {
	transform: rotate(45deg);
  border-color: #fff;
}
#active:checked + .menu-btn:after {
	transform: rotate(-45deg);
  border-color: #fff;
}
.wrapper ul{
  position: absolute;
  top: 60%;
  left: 50%;
  height: 90%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{
  height: 10%;
  margin: 15px 0;
}
.wrapper ul li a{
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  position: absolute;
  line-height: 50px;
  margin: 5px 30px;
  opacity: 0;
  transition: all 0.3s ease;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: rgb(255, 218, 96);
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}

#active:checked ~ .wrapper ul li a{
  opacity: 1;
}
.wrapper ul li a{
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}
#active:checked ~ .wrapper ul li a{
	transform: none;
	transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); /* easeOutBackを緩めた感じ */
   transition-delay: .6s;
  transform: translateX(-100px);
}



